.gameboard {
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleSpot {
    margin: auto;
    height: 20vh;
    background: black;
    color: white;
    font-size: 40px;
    text-align: center;
}

.buttonRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    height: 30px;
    width: 70px;
    background-color: lightblue;
    border-radius: 5%;
    border: 1px solid grey;
    margin: 15px;
}

.gameStatus {
    height: 50 px;
    width: 100px;
    background-color: lightblue;
    border-radius: 5%;
    border: 3px solid grey;
    margin: 15px;
    text-align: center;
}

.simonSpells,
.youSpell {
    text-align: center;
    display: flex;
    justify-content: center;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid grey;
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    font-size: 40px;
    color: black;
}

.highlighted {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: blue;
    margin: 10px 10px 10px 10px;
}

.letterKeys {
    width: 700px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.buttonKeys {
    height: 55px;
    width: 60px;
    color: black;
    background-color: lightblue;
    border-radius: 5%;
    border: 1px solid grey;
    margin: 3px 3px 3px 3px;
    font-size: 30px;
    cursor: pointer;
}

.letterKeys button:nth-child(20),
.letterKeys button:nth-child(28) {
    width: 110px;
    font-size: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    background-color: rgba(173, 216, 230, 0.4);
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: animatemodal;
    animation-duration: 1s;
}

@keyframes animatemodal {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 300px;
        opacity: 1
    }
}

.directions {
    background-color: black;
    color: white;
    border-radius: 10%;
    border: 2px solid white;
    text-align: center;
    height: 300px;
    width: 500px;
    margin: 150px auto;
}


.close-button {
    cursor: pointer;
    background-color: green;
    color: white;
    border-radius: 10%;
    border: 2px solid white;
    padding: 20px;
}
